.font-small {
    font-size: small;
}

.font-xlarge {
    font-size: x-large;
}

.w-30 {
    width: 30px;
}

.table-detail {
    height: 550px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.card-img-size {
    height: 120px;
    width: auto;
}

.cut-text {
    width: 94px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 1rem
}

.input-unset {
    outline: none;
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

span.remove-product:hover {
    color: dodgerblue;
}
