.circle-button-size {
    width: 100px;
    height: 100px;
    font-size: 3.5rem;
    text-align: center;
}

.main-input {
    position: relative;
    top: 20%;
}

.hidden {
    display: none !important;
}

.show {
    display: block !important;
}

.image{
    width: 100%;
}